/* div{
    border: 1px solid black;
} */
body{
    background-color: #FEFFEA;
}
.upperBar{
    width: 100%;
    height: 1.5em;
    background-color:#5877af;
}
.bottomBar{
    margin-top:2.5em ;
    width: 100%;
    height: 8em;
    background-color:#5877af;
}
.navatas{
    background-color: #FEFFEA;
    box-shadow: 0px 2px 10px #00000079;
}
.navbar-nav {
    margin-left: auto;
}
.navButton{
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: #FFED79;
    border:none;
    color: #353535;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    font-size: 15px;
}
.searchBar{
    margin-bottom: 2em;
    background-color: #F0F1D9;
    padding:0.5em;
    border-radius: 20px;
}
.searchBarForm{
    background-color: #F0F1D9;
    border-radius: 20px;
    border:none;
}
.searchBarBtn{
    background-color: #FFED79;
    border:none;
    border-radius: 20px;
    padding-left: 2em;
    padding-right: 2em;
}
.marginContent{
    margin-top: 1.2em;
}
.logoHome{
    background-color: #5877af;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoArea{
    width: 4em;
}
.logoMargin{
    margin-bottom: 1em;
    margin-top: 3em;
}
.logoText{
    height: 100%;
    padding-top: 0.5em;
    padding-left: 1.5em;
}
.homeCard{
    width:12em;
    margin-right: 15px;
    padding:0.5em ;
}
.headerTopNav{
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top:5px ;
}
.headerBottomNav{
    margin-left: 15px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.titleCard{
    background-color: #FFED79 ;
    border:none;
    width : 17em;
}
.contentCard{
    background-color: #FEFFEA;
    border:none;
    box-shadow: 1px 1px 5px #00000079;
     /* position: relative;
    display: flex;
    align-items: center; */
    justify-content: center;
}
.imageCard{
    background-color: #FEFFEA;
    border:none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageCardUnderlay{
    height: 75%;
}
.centerHomeCard{
    height:5%;
}
.autosizeImg{
    width: 100%;
    height: 13em;
    object-fit: scale-down;
}
.imageTittleCard{
    background-color: #FFED79;
    border:none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnTittle{
    border-radius: 30px;
    background-color: #F0F1D9;
    color: #5877af;
    border:none;
    width: 100%;
    font-weight: bold;
    padding: 10.5m;
}
.btnContentLink{
    background-color: #FEFFEA;
    border: none;
    padding: 0px;
    color: #5877af;
    text-align: left;
    font-weight: bold;
    margin-top: 0px;
    font-size: 15px;
}
.btnContentLink:focus,
.btnContentLink:active,
.btnContentLink:hover{
    background-color: #FEFFEA;
    border: none;
    padding: 0px;
    color: #353535;
    text-align: left;
    font-weight: bold;
}
.textContentLink{
    margin-top: 0px;
    height: 20%;
}
.centerItms{
    /* position: relative;
    display: flex;
    align-items: center; */
    justify-content: center;
}

