/* div{
    border: 1px solid black;
} */
body{
    background-color: #FEFFEA;
}
.navatas{
    background-color: #FEFFEA;
    box-shadow: 0px 0px 2px #000000;
}
.navbar-nav {
    margin-left: auto;
}
.navButton{
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: #FFED79;
    border:none;
    color: #353535;
    padding-left: 1em;
    padding-right: 1em;
}
.searchBar{
    margin-bottom: 2em;
    background-color: #F0F1D9;
    padding:0.5em;
    border-radius: 20px;
}
.searchBarForm{
    background-color: #F0F1D9;
    border-radius: 20px;
    border:none;
}
.searchBarBtn{
    background-color: #FFED79;
    border:none;
    border-radius: 20px;
    padding-left: 2em;
    padding-right: 2em;
}
.marginContent{
    margin-top: 1.2em;
}
.logoHome{
    background-color: #596C8F;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoArea{
    width: 5em;
}
.logoMargin{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

